<section>
  <div>
    <ul id='specie'>
      <h2>Specie Index </h2>
      <%= @species.count %> species found
    </ul>
    <ul> <%= link_to "Add Specie", new_species_path  %></ul>
  </div>
</section>

<section>
  <div>
    <% if @species.count > 0 %>
    <table>
      <ul>
      <thead>
      <tr>
        <th>Code</th>
        <th colspan="3"></th>
        <th>Botanical name</th>
        <th colspan="9"></th>
        <th>Common name</th>
        <th colspan="6"></th>
      </tr>
      </thead>

      <tbody>
      <% @species.each do |specie| %>
          <tr>
          <td>#<%= specie.code %></td>
          <td><it><%= link_to specie.botanical_name, [specie] %></it></td>
          <td><%= specie.common_name %> </td>
          </tr>
      <% end %>
      </tbody>
        </ul>



    </table>
    <% else %>
        <% flash[:notice]= "No Species found, click Add Specie" %>
    <% end %>
  </div>
</section>