<%= form_for([@project,@forest,@tree]) do |f| %>
        <% if @tree.errors.any? %>
            <div id = "error_explanation">
              <h2><%=  pluralize(@tree.errors.count,"error") %>
                prohibited this forest from being saved
              </h2>
              <ul>
                <% @tree.errors.full_messages.each do |msg| %>
                    <li><%=  msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

<section>
  <ul>

      <p>
        <% if @tree.new_record?  %>
            <%    @tree.number = increment(@forest.trees.count)  %>
            <%   @tree.code = concatenate(@project.id,@forest.id)  %>
            <%=   @tree.code = concatenate(@tree.code,@tree.number)  %>
        <% end %>

        <%= f.label "Tree code is " << @tree.code %><br>
        <%= f.text_field :code, readonly:true %>

      </p>

      <p>
        <%= f.label "Tree number" %><br/>
        <%= f.number_field :number, readonly: true %>
      </p>

      <p>
        <%= f.label :specie %><br/>
        <% if @forest.plantation? %>
            <% @tree.specie= @forest.specie %>
            <%#= f.number_field  :specie, readonly: true %>
            <%=  f.collection_select :specie, Genere.all, :id, :botanical_name, prompt: false, readonly: true %>
         <% else %>
            <%=  f.collection_select :specie, Genere.all, :id, :botanical_name, prompt: true %>
             <%#= f.collection_select :person_id, Author.all, :id, :name_with_initial, prompt: true %>
        <% end %>
       </p>
      <p>
        <%= f.label :status %><br/>
        <%=  f.collection_select :status, Status.all, :id, :code, prompt: true %>
      </p>

      <p>
        <%= f.label :comment %><br/>
        <%= f.text_area :comment %>
      </p>
             <%= submit_or_cancel(f) %>
  </ul>
</section>

<% end %>