  <div>
    <ul id='tree'>

      <h3> <%= "Tree Index for Forest: #{@forest.name}" %>   </h3>

    </ul>
    <ul>
      <%= link_to "Back to Forest", project_forest_path(@project,@forest) %>  |
      <%= link_to "Add Tree", new_project_forest_tree_path(@project, @forest) %>
      <br>

    </ul>
  </div>

  <div>
    <ul>
      <p><%= "Tree Listing" %> </p>
      <p><%= pluralize(@forest.trees.count,"tree")%>  found</p>
    </ul>
    <ul>

    <% if @forest.trees.count > 0 %>

            <table>
              <thead>
              <tr>
                    <th>Num  ...  Code  ...  Measurements</th>
              </tr>
              </thead>
              <%= paginate @trees %>
              <tbody>
                      <% @forest.trees.each do |tree| %>
                        <%#= render @trees %>

                           <tr>
                               <td>
                                <%= link_to '#' << (tree.number.to_s << " ...  " << tree.code << '  ...  ' <<  tree.measurements.count.to_s ), [ @project, @forest, tree] %>

                               </td>

                           </tr>

                      <% end %>
              </tbody>

            </table>
     <%else%>
          <% flash[:notice]="No trees found, click Add Tree" %>
    <%  end %>

    </ul>
  </div>
