
  <div id='tree'>
      <ul>
                <h3><%= @tree.code %></h3>
                Tree #<%= @tree.number %> -
                <%= @tree.specie %> , <%= @tree.status %>  ,   <%= @tree.comment %>


      </ul>

    <ul>    <%= render 'tree_menu' %>  </ul>
  </div>

<div>
  <ul>
    <% if @tree.measurements.count > 0 %>
        <h3>Measurement Listing</h3>
        <table>
          <thead>
          <tr>
            <th colspan="1"></th>
          </tr>
          <tr>
            <th>Year</th><th colspan="4"></th>
            <th>Tree</th><th colspan="5"></th>
            <th>Girth(m)</th><th colspan="3"></th>
            <th>Height(m)</th><th colspan="3"></th>
            <th>Date(mm/dd)</th> <th colspan="2"></th>
          </tr>
          </thead>
             <%#= paginate @tree.measurements %>
          <tbody>
          <% @tree.measurements.each do |measure| %>
          <%#= render @tree.measurements %>
              <tr>
                <td><%= link_to measure.taken_at.year,[ @project, @forest, @tree, measure] %></td>
                <td colspan="3" > </td>
                <td><%= measure.tree_code %></td>
                <td colspan="3" > </td>
                <td><%= measure.girth %></td>
                <td colspan="3" > </td>
                <td><%= measure.height %></td>
                <td colspan="3" > </td>
                <td><%= measure.taken_at.day.to_s << "/" << measure.taken_at.month.to_s %></td>


                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%else %>
            <% flash[:notice] = "No measurements found, Click Add measurement"%>
     <% end %>
  </ul>
</div>