
<%= form_for([@project,@forest,@tree,@measurement]) do |f| %>
      <% if @measurement.errors.any? %>
        <div id="error_explanation">
          <ul>
              <h4><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h4>


              <% @measurement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          </ul>
        </div>
      <% end %>

    <ul>

          <div class="field">
                <% if @measurement.id.nil? || @measurement.new_record? %>
                    <% @measurement.tree_code = @tree.code %>
                <% else %>
                <% end %>
            <%= f.label "Tree code " << @tree.code %><br>
            <%= f.text_field :tree_code %>
          </div>


      <div class="field">
        <%= f.label :year_taken %><br>
        <%= f.number_field :year_taken, min: 1960,max:1990 %>
      </div>


        <div class="field">
        <%= f.label :girth %><br>
        <%= f.text_field :girth,step:0.01 %>
      </div>

        <div class="field">
          <%= f.label :height %><br>
          <%= f.text_field :height %>
        </div>
      <div class="actions">
        <%= f.submit %>
      </div>

   </ul>
<% end %>
