    <h1>Species</h1>
    <%= link_to "Add Specie", new_genere_path %>

<br>
    <% if @generes.count > 0 %>
<table>
  <thead>

  <tr>
    <th>Botanical name </th><th colspan="2"></th>
    <th>Local name</th>
    <th>Common name</th>

  </tr>

  </thead>

  <%= paginate @generes %>

<ul>

  <tbody>

  <% @generes.each do |gen| %>
      <%#= render @generes %>
      <tr>
        <td><i><%= link_to gen.botanical_name, gen %></i></td><td colspan="2"></td>
        <td><%=  gen.code %></td>
        <td><%= gen.common_name%></td>

         <td> </td>

      </tr>
  <% end %>

  </tbody>
</ul>
</table>
        <% end  %>



