
<ul>

  <%= form_for([@project,@forest]) do |f| %>
    <% if @forest.errors.any? %>
        <div id = "error_explanation">
          <h2><%=  pluralize(@forest.errors.count,"error") %>
            prohibited this forest from being saved
          </h2>

            <% @forest.errors.full_messages.each do |msg| %>
                <li><%=  msg %></li>
            <% end %>
        </div>
    <% end %>


                <div class="field">
                  <%= f.label :name %><br/>
                  <%= f.text_field :name %>
                </div>
                <div class="field">
                  <%= f.label :description %><br/>
                  <%= f.text_area :description, rows:2, cols:40 %>
                </div>
                <div class="field">
                  <%= f.label :plantation %><br/>
                  <%= f.check_box :plantation %>

                </div>

                <div class="field">
                  <% if @forest.new_record? %>
                      <%= f.label :specie %><br/>
                        <% if @forest.plantation? %>
                              <%=  f.collection_select :specie, Genere.all, :id, :botanical_name, prompt: true %>
                          <% else %>
                              <% @forest.specie= 1 %>
                              <%=  f.collection_select :specie, Genere.all, :id, :botanical_name, prompt: false,readonly: true %>
                          <% end %>

                  <% else %>
                      <%= f.label 'Specie should not be changed' %><br/>
                      <% @forest.specie= 1 %><br/>
                      <%=  f.collection_select :specie, Genere.all, :id, :botanical_name, prompt: false, readonly: true %>
                  <% end %>
                </div>


                <div class="field">
                  <%= f.label :established %><br/>
                  <%= f.date_select :established, start_year: 1960,end_year:1990 %>
                </div>
                <div class="field">
                  <%= f.label :enumerated %><br/>
                  <%= f.date_select :enumerated, start_year: 1960,end_year:1990 %>
                </div>
                <div class="field">
                  <%= f.label :location %><br/>
                  <%= f.text_field :location %>
                </div>
                <div class="field">
                  <%= f.label :gps,"Gps Cordinates" %><br/>
                  <%= f.text_field :gps %>
                </div>

                <div class="field">
                  <%= f.label 'Area in Square Meter' %><br/>
                  <%= f.text_field :area %>
                </div>
                <div class="field">
                  <%= f.label :comment %><br/>
                  <%= f.text_area :comment, rows: 2, cols:30 %>
                </div>


      <div class="actions">
        <%if @forest.new_record? %>
            <%= f.submit 'Create Forest' %>
        <% else %>
            <%= f.submit 'Update Forest' %>
        <% end %>
      </div>

    <% end %>
</ul>
